In [2]:
import pandas as pd
import seaborn as sns
from ydata_profiling import ProfileReport

c:\Users\mperan\Documents\GitHub\NLP-twitter-engagement\NLP_venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
path = '../data/raw/twitter_dataset.csv'

df = pd.read_csv(path)
df.head()

,Tweet_ID,Username,Text,Retweets,Likes,Timestamp
0,1,julie81,Party least receive say or single. Prevent pre...,2,25,2023-01-30 11:00:51
1,2,richardhester,Hotel still Congress may member staff. Media d...,35,29,2023-01-02 22:45:58
2,3,williamsjoseph,Nice be her debate industry that year. Film wh...,51,25,2023-01-18 11:25:19
3,4,danielsmary,Laugh explain situation career occur serious. ...,37,18,2023-04-10 22:06:29
4,5,carlwarren,Involve sense former often approach government...,27,80,2023-01-24 07:12:21

In [5]:
profile = ProfileReport(df, explorative=True)

profile.to_file("output_report.html")

Summarize dataset: 100%|██████████| 24/24 [00:02<00:00,  8.25it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.12s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.36it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 164.51it/s]